body {
    font-family: 'Rubik', sans-serif;
}
.user-button:hover {
    background-color:hsl(239, 57%, 85%) !important;
}

.reply-button:hover {
    background-color: 'red' !important;
}


@media screen and (max-width : 768px){
    .post-reponsive {
        width: 100% !important;
        box-shadow: none ;
        margin-left: 2% !important;
        display: block !important;
    }
    .divider {
        display: none !important;
    }
    .replies-reponsive {
        width: 90% !important;
      
    }
}